- let nutrient = random(explanation.entity.negative)
- let consequence = random(nutrient.cons_en)

|#[+value(explanation.entity.enLabel)]
- if (pluralize.isSingular(explanation.entity.enLabel) )
	|contains
- if (pluralize.isPlural(explanation.entity.enLabel) )
	|contain
|#[+value(nutrient.enLabel)]
|which can cause
|#[+value(consequence)]
|!
