if explanation.timing == 'Day'
	|Today
if explanation.timing == 'Week'
	|This week
if explanation.constraint == 'greater'
	|you did not consume enough
if explanation.constraint == 'less'
	|you consumed a lot of
|#[+value(explanation.entity.enLabel)]
|(
|#[+value(explanation.quantity)]
if explanation.constraint == 'greater'
	|of minimum
if explanation.constraint == 'less'
	|of maximum 
|#[+value(explanation.expectedQuantity)]
|)
