- let alternative = random(explanation.entity.alternatives)
|Next time
if alternative == 'null'
	|be more careful and remember to eat healthy!
else
	|try to alternate with #[+value(alternative.enLabel)]
|.
