if explanation.timing == 'Day'
	|Today
if explanation.timing == 'Week'
	|This week
if explanation.constraint == 'greater'
	|you didn't consume enough
if explanation.constraint == 'less'
	|you consumed a lot of
|!{ explanation.entity } 
|(
|!{ explanation.quantity } 
if explanation.constraint == 'greater'
	|of minimum
if (explanation.constraint == 'less')
	|of maximum
|!{ explanation.expectedQuantity } 
|).
if explanation.timing == 'Day'
	|Day 1 
	|Day 2
|Trololol
if explanation.timing == 'Week'
	|Week 1
	|Week 2
|Tralalalal