- let nutrient = random(explanation.entity.negative)
- let consequence = random(nutrient.cons_it)

|#[+value(explanation.entity.itLabel)] 
|contiente/contengono
|#[+value(nutrient.itLabel)] 
|che può/possono portare
|#[+value(consequence)]
|!
