if explanation.timing == 'Day'
	|Oggi
if explanation.timing == 'Week'
	|Questa settimana
if explanation.constraint == 'greater'
	|non hai consumato abbastanza
if explanation.constraint == 'less'
	|hai consumato una grande quantità di
|#[+value(explanation.entity.itLabel)] 
|(
|#[+value(explanation.quantity)] 
if explanation.constraint == 'greater'
	|su un minimo di
if explanation.constraint == 'less'
	|su un massimo di 
|#[+value(explanation.expectedQuantity)] 
|).
