- let alternative = random(explanation.entity.alternatives)
|La prossima volta
if alternative == null
	|cerca di fare piu attenzione e ricorda di mangiare in modo sano!
else
	|prova ad alternare con #[+value(alternative.itLabel)]
|.
