|La prossima volta
if explanation.alternative == 'null'
	|cerca di fare piu attenzione e ricorda di mangiare in modo sano!
if explanation.alternative != 'null'
	|prova ad alternare con del/della !{explanation.alternative}
