if explanation.entity.negative != null
    |The long-term consequences of a excessive assumption of !{explanation.entity.enLabel} can be: 
    eachz negative in explanation.entity.negative with { separator: ',',}
        eachz consequence in negative.cons_en with { separator: ','}
            |!{consequence}